:root {
    --bg: #00141aee;
    --g: #ffffff;

    --base0: #012b36;
    --base1: #063642;
    --base2: #586e75;
    --base3: #657b83;
    --base4: #9eacad;
    --base5: #adb8b8;
    --base6: #eee8d5;
    --base7: #fdf6e3;

    --yellow1: #332700;
    --yellow2: #664d00;
    --yellow3: #b58900;
    --yellow4: #ffc102;
    --yellow5: #fee999;

    --orange1: #5c2309;
    --orange2: #a13d11;
    --orange3: #cb4a15;
    --orange4: #f8520e;
    --orange5: #ff9468;

    --red1: #51700f;
    --red2: #b7221e;
    --red3: #cc2e2c;
    --red4: #e54c4a;
    --red5: #fd9c9b;

    --magenta1: #541132;
    --magenta2: #b02669;
    --magenta3: #d33682;
    --magenta4: #f255a1;
    --magenta5: #ff77b9;

    --violet1: #25285b;
    --violet2: #494fb6;
    --violet3: #6c71c4;
    --violet4: #9da0ed;
    --violet5: #cbcfff;

    --blue1: #113956;
    --blue2: #1a6497;
    --blue3: #278bd2;
    --blue4: #48aef5;
    --blue5: #aadcff;

    --cyan1: #113b3d;
    --cyan2: #196265;
    --cyan3: #2aa198;
    --cyan4: #27eee0;
    --cyan5: #b9fffa;

    --green1: #2a3200;
    --green2: #586501;
    --green3: #829601;
    --green4: #9ed600;
    --green5: #c5ea9e;
}